<div class="row">
    <!--page header-->
    <div class="col-lg-12">
        <h1 class="page-header">Dino użytkownicy - admin <span id="qwe"> </span></h1>
    </div>
    <!--end page header-->
</div>
<!-- row -->
<div class="row users-list">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 style="margin-bottom: 0px;">Panel Edycji</h3> <h6 style="margin-top: 0px;">(Kliknij aby edytować)</h6>
                        <p>Tutaj możesz zmienić dane dotyczące użytkowników, ich surowców i umiejętności.</p></div>
                </div>

                <div class="table-responsive" id="tabello">
                    {% include 'AdminBundle:NewPanel:tabello.html.twig' %}
                </div>
                <div id="edit-dino-form" >


                </div>

            </div>
        </div>
    </div>
</div>
<!-- end row -->
