{% extends 'DinoBundle::base.html.twig' %}
{% block content %}
<div class="container-fluid bg-grey" >
    <div class="row text-center right" style="text-align: center; margin-top: 15px;">
        haha
    </div>
</div>

{% endblock %}