{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}

    <div class="container-fluid bg-grey">
        <h3 style="text-align: center; padding-top: 50px;">Wejdź w link aktywacyjny na {{ user.email }} żeby wykluć Dina.</h3>
    </div>

{% endblock %}